body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

#chat-container {
    width: 400px;
    max-width: 100%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#chat-box {
    display: flex;
    flex-direction: column;
    height: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 20px;
    line-height: 40px;
    padding: 15px;
}

#chat-log {
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

#user-input {
    border: none;
    padding: 10px;
    width: calc(100% - 80px);
    box-sizing: border-box;
    margin-bottom: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

#buttons{
    display: flex;
    justify-content: space-between;
}

#send-button {
    width: 80px;
    border: none;
    background-color: #007bff;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 3rem;
}

#back-to-start-button{
    width: 80px;
    border: none;
    background-color: #007bff;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 3rem;
}